<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/Css/LogIn.css">
</head>
<body>
   <div id="FormContainer">
       <form action="">
        <h1>Log In</h1>
        <input type="text" name="Username" placeholder="User Name" id="">
        
        <input type="email" name="email" placeholder="Email" id="">
    
        <button type="submit">Log In</button>
        <p>Create New Account <a href="./SignUp.ejs">Sign up</a></p>
    </form>
   </div>
</body>
</html>