<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/Css/SignUp.css">
    <style>
      *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

#FormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(90%, 500px); /* responsive magic */
    gap: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

input{
    padding: clamp(0.7rem, 20vw, 1rem);
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #f4f4f4;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
}

input::placeholder{
    color: gray;
}

h1{
    font-size: clamp(1.5rem, 20vw, 2.5rem);
    text-align: center;
    color: #111;
}
/* From Uiverse.io by niat786 */ 
button {
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 1em 2.5em;
}

button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}
a{
    color :#4f39f6;
}
#SuccessMessage{
  background-color: #E31919;
  border-radius: 5px;
  color: white;
  padding: 15px;
}
#InpuContainer{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
    </style>
</head>
<body>
   <div id="FormContainer">

<!-- ERROR MESSAGE -->
<% if (error_msg && error_msg.length > 0) { %>
  <div id="SuccessMessage">
    <%= error_msg[0] %>
  </div>
<% }%>

       <form method="POST" action="/user/registration">
        <h1>Sign Up</h1>
        <div id="InpuContainer">
            <input type="text" name="username" placeholder="User Name">
        
        <input type="email" name="email" placeholder="Email">
        
        <input type="password" name="password" placeholder="Password">
        </div>
        <button type="submit">Sign Up</button>
        <p>Already have an account ? <a href="/page/LogIn">Log In</a></p>
    </form>
   </div>
<script src="../public/JS/SignUp.js"></script>
</body>
</html>